@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400..700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

.titre {
    font-family: "Dancing script", sans-serif;
}

h1 {
    font-family: "Dancing script", sans-serif;
}

body {
    background: #F3E1CE;
}

* {
    font-family: "roboto", sans-serif;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: space-around;
}


.price {
    height: 100%;
}

.carousel-item {
    height: 40rem;
}

.salade {
    background-image: url(../imgentree/salade.jpg);
    background-size: cover;
    background-position: center;
}

.sushi {
    background-image: url(../imgentree/sushi.jpg);
    background-size: cover;
    background-position: center;
}

.toast {
    background-image: url(../imgentree/toast.jpg);
    background-size: cover;
    background-position: center;
}

.boeuf {
    background-image: url(../imgplat/cotedeboeuf.jpg);
    background-size: cover;
    background-position: center;
}

.huitre {
    background-image: url(../imgplat/Huitre.jpg);
    background-size: cover;
    background-position: center;
}

.tartare {
    background-image: url(../imgplat/Tartare.jpg);
    background-size: cover;
    background-position: center;
}

.cheesecake {
    background-image: url(../imgdessert/cheesecake.jpg);
    background-size: cover;
    background-position: center;
}

.choux {
    background-image: url(../imgdessert/chouxchocolat.jpg);
    background-size: cover;
    background-position: center;
}

.millefeuille {
    background-image: url(../imgdessert/millefeuillecaramel.jpg);
    background-size: cover;
    background-position: center;
}


.card {
    width: 30rem;
    height: max-content;
}

.logo {
    position: absolute;
    z-index: 10;
    left: 38%;
    opacity: 80%;
}

.d-flex {
    flex-direction: row;
    flex-wrap: nowrap;
}